# ===== ANGULAR =====
angularapp/node_modules/
angularapp/dist/

# SECRETS
angularapp/src/environments/environment.ts
angularapp/src/environments/environment.prod.ts



# ===== SPRING BOOT =====
springapp/target/
springapp/*.jar
springapp/*.war
springapp/*.class

# SECRETS - NEVER PUSH
springapp/target/
springapp/src/main/resources/application.properties
springapp/src/main/resources/application-default.properties

# IDE
.idea/
*.iml
.settings/
.classpath
.project



# ===== GENERAL =====
.vscode/
.DS_Store
*.log