# ===== ANGULAR =====
angularapp/node_modules/
angularapp/dist/

# SECRETS
angularapp/src/environments/environment.ts
angularapp/src/environments/environment.prod.ts
angualarpp/src/app/constants/app.constants.ts
